

.dm-sans-uniquifier{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
    
}

.navbar-links a{
    text-decoration: none;
    color: #1d232c;
    display: flex;
    

}
.navbar-links a:hover{
    text-decoration: underline;
    color:#1d232c;
}

.side-navbar{
    background-color: darkblue;
    color: white;
    height: 100%;
    width: 50%;
    top: 0;
    left: -60%;
    padding: 20px;
    position: fixed;
    transition: 2s;
}
.side-navbar-link{
    margin-bottom: 30px;
    
}
.side-navbar-link a{
    text-decoration: none;
    color: white;

}
.side-navbar-links a:hover{
     text-decoration: underline;
}
/*header*/
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button{
    background-color: darkblue;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.service{
    padding: 20px;

}
.service-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.service-container2 div{
    background-color:lightgray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}
.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10%;
    color:#1d232c;
    position: absolute;
    top: 50%;
    left: 18%;
    border: none;
    border-radius: 10px;

}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.news input{
    width: 80vw;
    padding: 10px;
    margin-bottom: 10px;
    border:solid black 3px;
}
.news  button{
    margin-top: 10px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    padding: 10px;


}

.footer{
    margin-top: 20px;
    padding: 20px;
    background-color: darkblue;
    color: white;
}

.product-section{
    margin-top: 20px;
}

.product-search{
    width: 80%;
    border: solid black 3px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.product-search input{
    width: 100%;
    background-color: transparent;
    border: none;
}
.product-search input:focus{
    outline: none;

}
.product{
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.product-box{
    text-align: center;
    flex-basis: 20%;
}

.product-box img {
    border-radius: 30px;
}
@media screen and (max-width:700px) {
    .navbar-links{
        display:none;
    }
    .navbar-menu-toggle{
        display: block;
    }
    .header-image{
        display: none;
    }
    .service-container1{
        display: none;
    }
    .service-container2{
        flex-direction: column;
    }
}
